fastapi==0.115.0
uvicorn[standard]==0.30.6
langchain==0.2.16
langchain-community==0.2.16
langchain-chroma==0.1.2
chromadb==0.5.5
langchain-huggingface==0.0.3
PyPDF2==3.0.1
pypdf==4.3.1
numpy==2.0.2
sentence-transformers>=2.6.0
langchain-openai>=0.1.0
openai>=1.40.0
streamlit>=1.32
requests>=2.31
